#Ignore backup files and compiled python
*~
*.pyc

#Ignore TEMP files except for readme.txt
TEMP/*
!TEMP/readme.txt

#Ignore Visual Studio Code files
.vscode/*

#Ignore logs
src/logs.csv
src/log.log
src/launcher.log
logs.csv
log.log
src/loadToMongo_log.txt
src/error_log.txt

#Ignore credentials
src/secrets.py

#Ignore
yara/yarGen-master/
yara/yara.zip
yara/binarly-sdk/
yara/pestudio.zip
yara/yarGen-master.zip
