db_connection = {
    "metadata": 
    {
      "host": "codexbackend_db_1", 
      "port": 27017
      },
    "files":
    {
      "host": "codexbackend_db_1", 
      "port": 27017
      },
    "versions":
    {
      "host": "codexbackend_db_1", 
      "port": 27017
      },
    "db_files_name": "DB_files",
    "db_versions_name": "DB_versions",
    "db_metadata_name": "DB_metadata",
    "db_metadata_collection": "meta_container",
    "vt_apikey": "",
    'yara-script1': '/myapp/yara/YaraGenerator/yaraGenerator.py',
    'yara-script2': '/myapp/yara/yarGen-master/yarGen.py',
    'csv-upx-file': ''
    }
